* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #3a3a3a;
}

h2 {
  margin: 1.5em 0 .5em;
  font-size: 1.8em;
}

.grid-row {
  margin: 1em 0;
}
.grid-row span {
  display: block;
  padding: 1em;
  border-radius: 4px;
  background: #efefef;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.grid-row .grid-row {
  margin-top: 0;
}

.grid-nested .col-100 span {
  background: #6a6a6a;
  color: #fff;
}

.semantic span {
  display: block;
  padding: 1em;
  border-radius: 4px;
  background: #efefef;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.semantic .site-header {
  position: relative;
  display: block;
  float: left;
  padding-right: 30px;
  width: 100%;
  margin-bottom: 1em;
}
.semantic .content-main {
  position: relative;
  display: block;
  float: left;
  padding-right: 30px;
  width: 75%;
  margin-bottom: 1em;
}
.semantic .sidebar {
  position: relative;
  display: block;
  float: left;
  padding-right: 30px;
  width: 25%;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  .grid-row {
    margin: 0;
  }

  [class*='col-'] {
    margin: 0 0 1em;
  }
}
