@import "deps/variables";
@import "deps/mixins";

$margin: 1em;

@mixin grid-box() {
    display: block;
    padding: $margin;
    border-radius: 4px;
    background: #efefef;
    -webkit-box-shadow: 1px 1px 2px rgba(black, .25);
    box-shadow: 1px 1px 3px rgba(black, .25);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #3a3a3a;
}

h2 {
    margin: 1.5em 0 .5em;
    font-size: 1.8em;
}

.grid-row {
    margin: $margin 0;

    span {
        @include grid-box();
    }

    .grid-row {
        margin-top: 0;
    }
}

.grid-nested {

    .col-100 {

        span {
            background: #6a6a6a;
            color: #fff;
        }
    }
}

.semantic {

    span {
        @include grid-box();
    }

    .site-header {
        @include col(16, 16);
        margin-bottom: $margin;
    }

    .content-main {
        @include col(12, 16);
        margin-bottom: $margin;
    }

    .sidebar {
        @include col(4, 16);
        margin-bottom: $margin;
    }
}

@media (max-width : 767px) {
    .grid-row {
        margin: 0;
    }
    
    [class*='col-'] {
        margin: 0 0 $margin;
    }
}
